.fluid-container{
  display: flex;
}
.fluid-child{
  flex: 1;
  max-width:fit-content;

  margin-left: 10px;
}
.fluid-child:first-child{
  margin-right: 20px;
}
.h3{
  margin-left: 10px;
}
.container{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.equal{
  font-weight: bold;
  font-size: 2rem;
}